#root {
  display: flex;
  /* attiva Flexbox */
  flex-direction: column;
  /* gli elementi saranno in colonna */

  /* centra verticalmente */
  align-items: center;
  /* centra orizzontalmente */
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: #E0F2FE;
  /* esempio sfondo blu acqua */
  gap: 1rem;

  /* spazio tra i pulsanti / elementi */

  font-family: 'Roboto', sans-serif;
}

.sottoSopra {
  display: flex;
  flex-direction: column;
  padding: auto;
}






.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

li {
  text-align: left;
  list-style-type: none;
}

.listaDettagli {
  display: flex;
  flex-direction: column;

}

button {
  background-color: #0284C7;
  color: #fff;
  min-width: 250px;
  height: 50px;
  width: 150px;
  align-self: center;

  font-family: 'Roboto', sans-serif;
  padding: 16px 40px;
  font-size: 1.2rem;

  border: none;
  cursor: pointer;
  box-shadow: 0 3px 10px #0284C7;
  transition: transform 0.3s ease, box-shadow 0.3 ease;
  border-radius: 12px;
}

h1 {
  color: #0C4A6E;
}