#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sottoSopra {
  display: flex;
  flex-direction: column;
  padding: auto;
}






.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

li {
  text-align: left;
  list-style-type: none;
}

.listaDettagli {
  display: flex;
  flex-direction: column;

}

button {
  background-color: #ff4c60;
  color: #fff;

  padding: 16px 40px;
  font-size: 1.2rem;
  font-weight: 900;
  border: none;
  cursor: pointer;
  box-shadow: 0 8px 20px #ff4c60cc;
  transition: transform 0.3s ease, box-shadow 0.3 ease;
  border-radius: 12px;
}