.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
  background-color: #f5f5f5;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
  flex-wrap: wrap;

}


button {
  display: inline-block;
  padding: 12px 24px;
  background-color: #3369ff;
  color: #ffff;
  font-family: 'Roboto', sans-serif;

  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 0.3em 0.3em 0;
  padding: 12px 24px;
  background-color: #3369ff;
  color: #ffff;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  margin: 0 0.3em 0.3em 0;




}

.card {
  background: rgb(220, 227, 233);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07);
}

.card-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #2c3e50;
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* Spazio tra le righe */
  padding: 15px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.dettaglio-item {
  display: flex;
  justify-content: space-between;
  /* Chiave a sinistra, valore a destra */
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* Linea separatrice opzionale */
}

.dettaglio-item:last-child {
  border-bottom: none;
  /* Rimuove la linea dall'ultima riga */
}

.dettaglio-chiave {
  font-weight: 600;
  color: #555;
  text-align: left;
}

.dettaglio-valore {
  font-weight: 500;
  color: #333;
  text-align: right;
  margin-left: auto;
  /* Forza l'allineamento a destra */
}

.descrizione-section {

  margin: 20px 0;
  padding: 20px;



}

.descrizione-title {
  font-size: 1.4rem;
  font-weight: 600;
  color: #555;
  margin: 0 0 10px 0;
}

.descrizione-text {
  font-size: 1.2rem;
  line-height: 1.6;
  color: #333;
  margin: 0;
  text-align: justify;
}

.bottoni-chimici {
  padding: 8px;
  margin: 10px;
}

.container-ricambi {
  display: flex;
  flex-direction: column;
  height: 100vh;
  /* altezza viewport */
}

.sezione-fissa {
  flex-shrink: 0;
  /* non si comprime */
}

.lista-ricambi-container {
  flex: 1;
  /* prende lo spazio rimanente */
  overflow-y: auto;
  /* scroll verticale */
  padding: 1rem;
  border-top: 2px solid #ccc;
}

.ricambio-item {
  padding: 1rem;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
}