.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px 0;
  background-color: #f5f5f5;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  margin: 30px 0;
  flex-wrap: wrap;

}


button {
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
}

.card {
  background: rgb(220, 227, 233);
  border-radius: 20px;
  padding: 30px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.07);
}

.card-title {
  font-size: 1.8rem;
  margin-bottom: 30px;
  color: #2c3e50;
}

.card-item {
  display: flex;
  flex-direction: column;
  gap: 15px;
  /* Spazio tra le righe */
  padding: 15px;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 8px;
}

.dettaglio-item {
  display: flex;
  justify-content: space-between;
  /* Chiave a sinistra, valore a destra */
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  /* Linea separatrice opzionale */
}

.dettaglio-item:last-child {
  border-bottom: none;
  /* Rimuove la linea dall'ultima riga */
}

.dettaglio-chiave {
  font-weight: 600;
  color: #555;
  text-align: left;
}

.dettaglio-valore {
  font-weight: 500;
  color: #333;
  text-align: right;
  margin-left: auto;
  /* Forza l'allineamento a destra */
}

.descrizione-section {

  margin: 20px 0;
  padding: 20px;



}