#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.sottoSopra {
  display: flex;
  flex-direction: column;
  padding: auto;
}






.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

li {
  text-align: left;
  list-style-type: none;
}

.listaDettagli {
  display: flex;
  flex-direction: column;
  text-align: left;
}

button {
  background-color: rgb(112, 112, 198);
  color: white;
  border-radius: 10px;
}